@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div style="background-color:aquamarine; padding: 2rem;" draggable="true" @ondragstart="DragStart" @ondragend="DragEnd">
    Drag me
</div>

@code {
    private void DragStart()
    {
        Console.WriteLine("Dragging start");
    }
    private void DragEnd()
    {
        Console.WriteLine("Dragging end");
    }
}